.message {
  margin: 5px;
  padding: 5px 15px;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 20px;
}

.message p {
  margin: 0;
}

.message-owner {
  align-self: flex-end;
}

.message-companion {
  align-self: flex-start;
}

.message-sender {
  color: gray;
  font-size: 14px;
}